<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.erp.admin.mapper.UserMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mc.erp.admin.domain.entity.User">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="status" property="status"/>
        <result column="gender" property="gender"/>
        <result column="avatar" property="avatar"/>
        <result column="birth_date" property="birthDate"/>
        <result column="address" property="address"/>
        <result column="remark" property="remark"/>
        <result column="last_login_at" property="lastLoginAt"/>
        <result column="create_at" property="createAt"/>
        <result column="create_by" property="createBy"/>
        <result column="update_at" property="updateAt"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>
    <sql id="BaseColumns">
        id,
        account,
        username,
        password,
        phone,
        email,
        status,
        gender,
        avatar,
        birth_date,
        address,
        remark,
        last_login_at,
        create_at,
        create_by,
        update_at,
        update_by
    </sql>

    <select id="getListByUser" parameterType="com.mc.erp.admin.domain.vo.UserVo" resultMap="BaseResultMap">
        select
            <include refid="BaseColumns"/>
        from t_user
        where delete_flag = 0
            <if test="user.account != null and user.account != ''">
                and account like concat('%', #{user.account}, '%')
            </if>
            <if test="user.username != null and user.username != ''">
                and username like concat('%', #{user.username}, '%')
            </if>
            <if test="user.phone != null and user.phone != ''">
                and phone like concat('%', #{user.phone}, '%')
            </if>
            <if test="user.email != null and user.email != ''">
                and email = #{user.email}
            </if>
            <if test="user.statusList != null and user.statusList.size > 0">
                and status in
                <foreach item="status" collection="user.statusList" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>
            <if test="user.gender != null and user.gender != ''">
                and gender = #{user.gender}
            </if>
            <if test="user.address != null and user.address != ''">
                and address like concat('%', #{user.address}, '%')
            </if>
            <if test="user.remark != null and user.remark != ''">
                and remark = #{user.remark}
            </if>
    </select>

    <select id="getByAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            <include refid="BaseColumns"/>
        from t_user
        where delete_flag = 0
            and account = #{account}
    </select>

    <select id="getPageByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            <include refid="BaseColumns"/>
        from t_user
        where delete_flag = 0
            and username = #{username}
    </select>

</mapper>
